.container-customer-form {
    margin: 15px;
}

.container {
    margin: 0;
    padding: 0;
}

.card-body {
    width: 50%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-input {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-group>input {
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    background-color: #d1d5db;
    width: 89%;
    font-size: 15px;
}

.text-warning {
    color: red;
    font-size: 12px;
    font-weight: 600;
}

.form-input-location {
    /* display: flex;
    flex-direction: column; */
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

.form-input-location>select,
.form-input-location .form-group_address>input {
    border: none;
    margin: 5px 8px;
    padding: 10px;
    background-color: #d4d4d8;
    border-radius: 4px;
}

.form-input-location .form-group_address>input {
    width: 91%;
}

.form-group-button-submit {
    display: flex;
    justify-content: center;
}

.form-group-button-submit>button {
    margin-bottom: 25px;
    border: none;
    background-color: #ea580c;
    color: #fff;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.form-control_inpAddress {
    font-size: 14px;
    margin: 0 10px;
    border-bottom: 1px solid black;
    width: 95%;
}

.card-body {
    background-color: antiquewhite;
}

.card-title>h2,
.form-chose-address>h3 {
    font-size: 15px
}

.form-chose-address {
    margin: 30px 0;
}

.form-check-gender>div {
    display: flex;
    margin: 10px;
}

.form-check-gender>div>input {
    width: 15px;
    margin: 6px 3px 0px 7px;
}