.navbar_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #e0e7ff;
}

.navbar_container-sticky {
    position: fixed;
    z-index: 1;
}

.navbar_logo {
    margin: 10px 5px;
}

.navbar_container .navbar_logo>a {
    margin: 0 10px;
    color: #0f766e;
    text-decoration: auto;
    font-size: 20px;
    font-weight: 700;
}

.navbar_item {
    margin-right: 20px;
}

.navbar_item>ul {
    justify-content: flex-end;
}

.navbar_item>ul>li {
    list-style: none;
    margin: 0 10px;
    position: relative;
}

.navbar_item>ul {
    display: flex;
    flex-direction: row;
}

.nav_item {
    text-decoration: none;
    font-weight: 500;
    color: #374151;
    padding: 7px;
    border: 1px solid #713f12;
    border-radius: 3px;
}

.nav_item-card {
    cursor: pointer;
}

.nav_item-card-badges {
    background: #164e63;
    color: #a5f3fc;
    border-radius: 50%;
    padding: 2px 8px;
    text-align: center;
    margin: 0px 0px 0px 5px;
    font-size: 13px;
    font-weight: 400;
}

.tooltip {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 50px;
    z-index: 1;
}