h3,
h4,
h5 {
    color: #000
}

.product_container::after {
    content: "";
    display: table;
    clear: both;
}

.cart_container {
    float: left;
    width: 21.5%;
    height: 450px;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border: 2px solid rgb(232, 226, 219);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cart_container-img {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_img {
    width: 100px;
    height: auto;
}

.cart_content {
    background-color: rgb(232, 226, 219);
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
    width: 100%;
}

.cart_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart_content .cart_price {
    font-weight: 500;
}

.cart_content .cart_name-cate {
    font-weight: 400;
}

.cart_container .cart_container-button>button {
    background-color: #f97316;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}